/* Braden Critchfield- last edited 12/17/21

NonBootstrap Styles

*/

body {
    background: whitesmoke;
}
.headerLink {
    color: white;
}

ul {
    font-style: italic;
    font-size:smaller;
}

img {
    border: 4px solid black;
}

.contactInfo {
    border: 4px solid black;
    background: #A7C7E7;
}



